services:
  dadou-robot-jenkins:
    container_name: dadou-robot-jenkins
    image: dadouuu/dadou-robot-jenkins:latest
    build:
      context: ../../..
      dockerfile: conf/docker/jenkins/Dockerfile-jenkins
    network_mode: "host"
    privileged: true
    devices:
      - /dev/i2c-0:/dev/i2c-0
      - /dev/i2c-1:/dev/i2c-1
      - /dev/gpiomem:/dev/gpiomem
    environment:
      - ROS_DOMAIN_ID=0
      - RUN_IN_JENKINS=1
    volumes:
      - ../../../conf:/home/ros2_ws/src/robot/conf
      - ../../../robot:/home/ros2_ws/src/robot/robot
      - ../../../json:/home/ros2_ws/src/robot/json
      - ../../../medias:/home/ros2_ws/src/robot/medias
      - ../../../../robot_bringup:/home/ros2_ws/src/robot_bringup
      - ../../../../robot_interfaces:/home/ros2_ws/src/robot_interfaces
      - ../../../../../build:/home/ros2_ws/build
      - ../../../../../install:/home/ros2_ws/install
      - ../../../../../log:/home/ros2_ws/log
      - ../../../conf/ros2/setup.py:/home/ros2_ws/src/robot/setup.py
      - ../../../conf/ros2/package.xml:/home/ros2_ws/src/robot/package.xml
    entrypoint: ["/bin/bash", "-c", "source /home/ros2_ws/src/robot/conf/scripts/launch-ros-in-docker.sh"]
