[Unit]
Description=Didier Daemon
#After=network.target

[Service]
Type=simple

User=root
Group=root
UMask=007

ExecStart=/home/didier/deploy/scripts/run-robot.sh
Environment="DISPLAY=:0"
RemainAfterExit=yes

Restart=always
RestartSec=3
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

#StandardOutput=append:/home/didier/deploy/logs/service-standard.log
StandardError=append:/home/didier/deploy/logs/service-error.log

[Install]
WantedBy=multi-user.target
