[Unit]
Description=Robot Service
After=network.target

[Service]
Type=simple
User=root
Group=root
UMask=007
ExecStart=/usr/bin/docker container start deploy-dadou-robot-1
ExecStop=/usr/bin/docker container stop deploy-dadou-robot-1
Environment="DISPLAY=:0"
RemainAfterExit=yes
Restart=always
RestartSec=3
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
~